/* src/contact.css */
.contactContainer {
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .contactContainer h1 {
    text-align: center;
  }
  
  .contactContainer form {
    display: flex;
    flex-direction: column;
  }
  
  .contactContainer label {
    margin: 0.5rem 0;
  }
  
  .contactContainer input, .contactContainer textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .contactContainer button {
    background-color: #019c74;
    color: white;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
  }
  
  .contactContainer button:hover {
    background-color: #017d62;
  }
  